#body {
    /*background-image: url("https://dl.dropbox.com/s/4ubs90vu8bn5zq2/image.gif");*/
    background-image: url("Ir4 (1).gif");
    overflow: hidden;
    /* max-width: 1366px !important; */
}

.wish-frame{
    margin: 5px;
    border: yellow 1px dashed;
    object-fit: cover;
    /* background-image: url("istockphoto-1136810581-612x612.jpg"); */
    /*background-image: url("animated-cute.gif");*/
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    transform-origin: center center;
}



.circular--square {
    transition: all 1s ease;
    animation: fadeIn 4s;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.wish-frame:hover{
    /* opacity: 0.5; */
    transform: scale(1.1);
}

label{
    background: rgba(0, 0, 0, 0);
}
label:hover{
    background: rgba(0, 0, 0, 1);
}


.slides{
    
    transition: all 1s ease;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-sc::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-sc {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.wish {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 4%;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: red;
    letter-spacing: 0.1em;
    font-family: 'Pacifico', cursive;
    background: -webkit-linear-gradient(#ffff00, #ff1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 3s infinite ease-in-out;
}

@-webkit-keyframes hue {
    0% {
        -webkit-filter: hue-rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    50% {
        -webkit-filter: hue-rotate(360deg);
        transform: scale(1.2) rotate(5deg);
    }
}

.cake {
    position: absolute;
    width: 250px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -125px;
}

.plate {
    position: absolute;
    width: 290px;
    height: 130px;
    bottom: -10px;
    left: -15px;
    background-color: #ccc;
    border-radius: 25%;
    box-shadow: 0 5px 0 0 #000;
}

.cake>* {
    position: absolute;
}

.layer {
    position: absolute;
    display: block;
    width: 250px;
    height: 100px;
    border-radius: 25%;
    background-color: #2a0a0a;
    border: 3px solid #fff;
    box-shadow:
            0 15px 0 0 #2a0a0a,
            0 30px 0 0 #2a0a0a,
            0 33px 0 0 #fff,
            0 45px 0 0 #2a0a0a,
            0 60px 0 0 #2a0a0a,
            0 63px 0 0 #fff,
            0 75px 0 0 #2a0a0a,
            0 90px 0 0 #2a0a0a;
}

.icing {
    top: 3px;
    left: 3px;
    background-color: #fff;
    border: 5px dotted #2a0a0a;
    width: 240px;
    height: 90px;
    border-radius: 25%;
}

.name {
    margin: 0;
    padding: 7px;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: #2a0a0a;
    font-family: 'Pacifico', cursive;
}

.candle1 {
    z-index: 10;
    width: 10px;
    height: 50px;
    background-color: #fe2e2e;
    border-radius: 4px;
    top: -25px;
    left: 50%;
    margin-left: -8px;
}

.flame1 {
    border-bottom-left-radius: 45% 35%;
    border-bottom-right-radius: 45% 35%;
    box-shadow: 0 -15px 2px 2px #ffc205;
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 5px;
    top: -30px;
    left: 30%;
    position: absolute;
}

.candle2 {
    z-index: 10;
    width: 10px;
    height: 50px;
    background-color: #fe2e2e;
    border-radius: 4px;
    top: -25px;
    left: 80%;
    margin-left: -8px;
}

.flame2 {
    border-bottom-left-radius: 45% 35%;
    border-bottom-right-radius: 45% 35%;
    box-shadow: 0 -15px 2px 2px #ffc205;
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 5px;
    top: -30px;
    left: 30%;
    position: absolute;
}

.candle3 {
    z-index: 10;
    width: 10px;
    height: 50px;
    background-color: #fe2e2e;
    border-radius: 4px;
    top: -25px;
    left: 20%;
    margin-left: -8px;
}

.flame3 {
    border-bottom-left-radius: 45% 35%;
    border-bottom-right-radius: 45% 35%;
    box-shadow: 0 -15px 2px 2px #ffc205;
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 5px;
    top: -30px;
    left: 30%;
    position: absolute;
}

.candle4 {
    z-index: 10;
    width: 10px;
    height: 50px;
    background-color: #fe2e2e;
    border-radius: 4px;
    top: 15px;
    left: 15%;
    margin-left: -8px;
}

.flame4 {
    border-bottom-left-radius: 45% 35%;
    border-bottom-right-radius: 45% 35%;
    box-shadow: 0 -15px 2px 2px #ffc205;
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 5px;
    top: -30px;
    left: 30%;
    position: absolute;
}

.candle5 {
    z-index: 10;
    width: 10px;
    height: 50px;
    background-color: #fe2e2e;
    border-radius: 4px;
    top: 15px;
    left: 85%;
    margin-left: -8px;
}

.flame5 {
    border-bottom-left-radius: 45% 35%;
    border-bottom-right-radius: 45% 35%;
    box-shadow: 0 -15px 2px 2px #ffc205;
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 5px;
    top: -30px;
    left: 30%;
    position: absolute;
}

.text {
    margin: 30px;
    padding: 0;
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    color: white;
    font-family: 'Pacifico', cursive;
}

.balloon {
    display:inline-block;
    width:100px;
    height:125px;
    background:hsl(215,50%,65%);
    border-radius:80%;
    position:relative;
    box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
    margin:20px 30px;
    transition:transform 0.5s ease;
    z-index:10;
    animation:balloons 4s ease-in-out infinite;
    transform-origin:bottom center;
}

@keyframes balloons {
    0%,100%{ transform:translateY(0) rotate(-4deg); }
    50%{ transform:translateY(-25px) rotate(4deg); }
}


.balloon:before {
    content:"▲";
    font-size:20px;
    color:hsl(215,30%,50%);
    display:block;
    text-align:center;
    width:100%;
    position:absolute;
    bottom:-12px;
    z-index:-100;
}

.balloon:after {
    display:inline-block; top:153px;
    position:absolute;
    height:250px;
    width:1px;
    margin:0 auto;
    content:"";
    background:rgba(0,0,0,0.2);
}

.balloon:nth-child(2){ background:hsl(245,40%,65%); animation-duration:3.5s; }
.balloon:nth-child(2):before { color:hsl(245,40%,65%);  }

.balloon:nth-child(3){ background:hsl(139,50%,60%); animation-duration:3s; }
.balloon:nth-child(3):before { color:hsl(139,30%,50%);  }

.balloon:nth-child(4){ background:hsl(59,50%,58%); animation-duration:4.5s; }
.balloon:nth-child(4):before { color:hsl(59,30%,52%);  }

.balloon:nth-child(5){ background:hsl(23,55%,57%); animation-duration:5s; }
.balloon:nth-child(5):before { color:hsl(23,44%,46%);  }


